{% extends 'Base_Templates.html' %}
{% block title %}后台管理{% endblock %}
{% block head %}
    <link href="{{ url_for('.static',filename='Css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/slide.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/flat-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='css/jquery.nouislider.css') }}">
    <script src="{{ url_for('.static',filename='JS/html5.js') }}"></script>
    <script src="{{ url_for('.static',filename='JS/respond.min.js') }}"></script>
    <script src="{{ url_for('.static',filename='js/jquery.nouislider.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="wrap">
        <!-- 左侧菜单栏目块 -->
        <div class="leftMeun" id="leftMeun">
            <div id="logoDiv">
                <p id="logoP"><img id="logo" alt="后台管理"
                                   src="{{ url_for('.static',filename='Images/logo.png') }}"><span>后台管理</span></p>
            </div>
            <div id="personInfor">
                <p id="name_p"></p>
                <p><span id="mailbox_p"></span></p>
                <p>
                    <a onclick="sign_out();">退出登录</a>
                </p>
            </div>
            <div id="content">
                <ul id="catalog"></ul>
            </div>
        </div>
        <!-- 右侧具体内容栏目 -->
        <div id="rightContent">
            <a class="toggle-btn" id="nimei">
                <i class="glyphicon glyphicon-align-justify"></i>
            </a>
            <!-- Tab panes -->
            <div class="tab-content">
                <iframe id="pd_tc_iframe">

                </iframe>

            </div>
        </div>
    </div>
{% endblock %}
{% block foot %}
    <script src="{{ url_for('.static',filename='js/pb_index.js') }}"></script>
{% endblock %}
