

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns = "http://www.w3.org/1999/xhtml" >
<head >
	<meta charset = "UTF-8" >
	<meta http - equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" >
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0"> 
	<title>登录界面</title>
    <link href="{{ url_for('.static',filename='Css/default.Css') }}" rel="stylesheet" type="text/css" />
	<!--必要样式-->
    <link href="{{ url_for('.static',filename='Css/styles.Css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('.static',filename='Css/demo.Css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('.static',filename='Css/loaders.Css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class='login'>
	  <div class='login_title'>
	    <span>管理员登录</span>
	  </div>
	  <div class='login_fields'>
	    <div class='login_fields__user'>
	      <div class='icon'>
	        <img alt="" src="{{ url_for('.static',filename='Images/user_icon_copy.png')}}">
	      </div>
	      <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="kbcxy"/>
	        <div class='validation'>
	          <img alt="" src="{{ url_for('.static',filename='Images/tick.png')}}">
	        </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src="{{ url_for('.static',filename='Images/lock_icon_copy.png')}}">
	      </div>
	      <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
	      <div class='validation'>
	        <img alt="" src="{{ url_for('.static',filename='Images/tick.png')}}">
	      </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src="{{ url_for('.static',filename='Images/key.png')}}">
	      </div>
	      <input name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
	      <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
          <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
	      </div>
	    </div>
	    <div class='login_fields__submit'>
	      <input type='button' value='登录'>
	    </div>
	  </div>
	  <div class='success'>
	  </div>
	  <div class='disclaimer'>
	    <p>欢迎登陆后台管理系统</p>
	  </div>
	</div>
	<div class='authent'>
	  <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
        </div>
	  <p>认证中...</p>
	</div>
	<div class="OverWindows"></div>
    <link href="{{ url_for('.static',filename="layui/Css/layui.Css")}}" rel="stylesheet" type="text/css" />
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="{{ url_for('.static',filename='JS/jquery-3.5.1.JS')}}" type="text/javascript" ></script>
	<script src="{{ url_for('.static',filename='JS/jquery-ui.min.JS')}}" type="text/javascript" ></script>
	<script src="{{ url_for('.static',filename='JS/stopExecutionOnTimeout.JS')}}" type="text/javascript" ></script>
    <script src="{{ url_for('.static',filename='layui/layui.JS')}}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='JS/Particleground.JS')}}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='JS/Treatment.JS')}}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='JS/jquery.mockjax.JS')}}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='JS/login_effects.JS')}}" type="text/javascript"></script>
</body>
</html>
